---
import Layout from '../layouts/LayoutIndex.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Products from '../components/Products.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <title>Sitio no encontrado| Tu suite ofimática libre</title>
  <meta name="description" content=". Descubre InSuite, la suite de ofimática libre, online, privada y con IA. Sin instalar nada, sin registrarte y sin publicidad.">
  <div class="text">
  <div style="height: 30vh;"></div>
    <h1>404</h1>
    <p>Estamos lanzando InSuite y aún nos falta crear cosas. Si un enlace o botón te ha dirigido aquí vuelve a la página de inicio.</p>
    <p>Disculpa las molestias, estamos mejorando para tí</p>


  <div style="height: 30vh;"></div>
  </div>
  <Footer />
</Layout>