---
import Layout from '../layouts/LayoutIndex.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Products from '../components/Products.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <title>Galletas en InSuite| Tu suite ofimática libre</title>
  <meta name="description" content=". Descubre InSuite, la suite de ofimática libre, online, privada y con IA. Sin instalar nada, sin registrarte y sin publicidad.">
  <div class="text">
  <div style="height: 30vh;"></div>
    <h1>Política de cookies</h1>
    <p>Hay cookies pero no las usamos para extraer datos nin nada por el estilo.</p>


  <div style="height: 30vh;"></div>
  </div>
  <Footer />
</Layout>