---
import Layout from '../layouts/LayoutIndex.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Products from '../components/Products.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <title>Privacidad en InSuite| Tu suite ofimática libre</title>
  <meta name="description" content="InSuite es 100% privado. Descubre InSuite, la suite de ofimática libre, online, privada y con IA. Sin instalar nada, sin registrarte y sin publicidad.">
  <div class="text">
  <div style="height: 30vh;"></div>
    <h1>Política de privacidad</h1>
    <p>InSuite no usa tecnologías que recopilen datos sobre usted, ni personales ni no personales.</p>
    <p>Aquí los datos son suyos y de nadie más.</p>

  <div style="height: 30vh;"></div>
  </div>
  <Footer />
</Layout>