---
import Layout from '../layouts/LayoutIndex.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Products from '../components/Products.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <title>Términos del servicio| Tu suite ofimática libre</title>
  <meta name="description" content=". Descubre InSuite, la suite de ofimática libre, online, privada y con IA. Sin instalar nada, sin registrarte y sin publicidad.">
  <div class="text">
  <div style="height: 30vh;"></div>
    <h1>Términos del servicio</h1>
    <p>Por el presente documento <strong>Ud.</strong> (el visitante) se compromete a realizar un uso ético y moralmente aceptable de las herramientas ofrecidas por Inled Group</p>

    <h2>Sus libertades</h2>
    <p>A través de esta plataforma Ud. puede generar contenido en diversos formatos y para diversos fines éticos.</p>
    <p>Puede acceder al código fuente desde Github y crear su propio fork de InSuite</p>
    <p>Está habilitado para acceder a la plataforma de forma que no incurra en ataques al sitio de forma directa o indirecta</p>

    <h2>Sus obligaciones</h2>
    <p>Utilizar los servicios para fines éticos y moralmente aceptables</p>
    <p>Generar contenido que cumpla con la ley de su país de residencia</p>
    <p>No utilizar la plataforma para acciones que no sean legales o que puedan provocar mal a alguien</p>
    <p>No utilizar al plataforma para herir sentimientos religiosos</p>


  <div style="height: 30vh;"></div>
  </div>
  <Footer />
</Layout>